.about-section {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("../assets/img/code3.jpg");
    background-size: 100%;
}

.projects-section {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
}

.portfolio-box img {
    -webkit-filter: grayscale(70%);
}

.signup-section {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../assets/img/bg-signup.jpg");;
}