<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <p>안녕하세요 백엔드 개발자 정보근입니다.</p>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <img src="img/profile-img.jpeg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>Web Backend Developer.</h3>
                <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <span>https://github.com/infomuscle</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Blog:</strong> <span>https://bortfolio.tistory.com/</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>infomuscle10@gmail.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>San Francisco, USA</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>저는</strong></li>
                            <li><i class="bi bi-chevron-right"></i>간결하고 규칙적인 코드 짜는 것을 좋아합니다.</li>
                            <li><i class="bi bi-chevron-right"></i>디테일한 가이드 문서 작성을 좋아합니다.</li>
                            <li><i class="bi bi-chevron-right"></i>꾸준한 노력과 성취를 좋아합니다.</li>
                        </ul>
                    </div>
                </div>
                <p>
                    Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
                    Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
                </p>
            </div>
        </div>
    </div>
</section>