<!DOCTYPE html>
<html lang="en">

{{> modules/head}}

<body id="page-top">

{{> modules/nav}}

<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">bla-bla</h2>
                <p class="text-white-50">
                    I am a bla-bla person.
                    To get to know more about experience, educations, skill stack,
                    <a href="https://infomuscle.github.io/" , target="_blank">go to resume</a> or
                    <a href="https://startbootstrap.com" , target="_blank">download resume</a>
                </p>
            </div>
        </div>
        <img class="img-fluid" src="assets/img/ipad.png" alt=""/>
    </div>
</section>

{{> modules/footer}}

{{> modules/scripts}}

</body>
</html>