<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mt-5 mb-5 pt-5 pb-5">
                <h2 class="text-white mb-4">Develop Specialized Generalist.</h2>
<!--                <p class="text-white-50">-->
                <p class="text-white">
                    경제학을 전공했습니다. 고등학교 친구들과 앱 기획하다가 개발자와의 소통을 위해 프로그래밍 공부를 시작했습니다.
                    공부를 하면 할 수록 개발이 더욱 재밌어졌고, 개발자로 일하면 다른 일보다 직업 만족도가 높을 것 같다고 생각해 전향했습니다.
                </p>
                <p class="text-white">
                    현재 이커머스에서 주문/결제 팀에서 제휴 연동 API 개발 업무를 담당하고 있습니다.
                    업무시 JAVA, SPRING 및 ORACLE을 주력 사용하고 있으며, Git, Kafka, Grafana 등을 보조적으로 사용하고 있습니다.
                    개인 프로젝트로 PYTHON과 DJANGO, KOTLIN과 SPRING BOOT를 사용한 개발 경험이 있습니다.
                </p>
                <a class="btn btn-info js-scroll-trigger" href="https://infomuscle.github.io/" target="_blank">RESUME</a>
            </div>
        </div>
    </div>
</section>
