<!-- Contact-->
<section class="contact-section d-md-flex align-items-center" id="contact">
    <div class="container my-5 py-5 py-md-0">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <h2 class="mb-3 mb-md-5">Contact Me</h2>
            </div>
        </div>
        <div class="row">
            {{#contacts}}
                {{> modules/contact-card}}
            {{/contacts}}
        </div>
        <div class="row">
            <div class="social mx-auto my-3 d-flex justify-content-center">
                <a class="mx-2" href="https://www.linkedin.com/in/infomuscle10/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="mx-2" href="instagram.com/i.m.archive" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="mx-2" href="https://github.com/infomuscle" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</section>

