<!DOCTYPE html>
<html lang="en">

{{> modules/head}}

<body id="page-top">

{{> modules/nav}}

{{> masthead}}

{{> about}}

{{> projects}}

{{> contact}}

{{> modules/footer}}

{{> modules/scripts}}

</body>
</html>
