<!DOCTYPE html>
<html lang="en">

{{> modules/head}}

<body id="page-top">

{{> modules/nav}}

<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">BOKEUN JEONG</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A Full Stack Web Developer</h2>
            <a class="btn btn-primary js-scroll-trigger" href="#about">See My Works</a>
        </div>
    </div>
</header>

{{> about}}

{{> projects}}

{{> contact}}

{{> modules/footer}}

{{> modules/scripts}}

</body>
</html>
