<!-- Masthead-->
<header class="masthead d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-uppercase">BOKEUN JEONG</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h2 class="text-center">Hello! I'm A Full Stack Web Developer</h2>
            </div>
        </div>
    </div>
</header>