<!-- Masthead-->
<header class="masthead d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col mx-auto">
                <div id="typed-strings">
                    <h1 class="text-uppercase">BOKEUN JEONG</h1>
                </div>
                <h1><span id="typed"></span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <div id="typed-strings2">
                    <h2>Hello! I'm A Full Stack Web Developer</h2>
                </div>
                <h2><span id="typed2"></span></h2>
            </div>
        </div>
    </div>
</header>