<!-- Projects-->
<section class="projects-section d-lg-flex align-items-center" id="projects">
    <div class="container my-5 py-5">
        <div class="row no-gutters">
            {{#projects}}
                <div class="col-lg-4 col-sm-6 my-3 my-md-0">
                    <a class="portfolio-box" href="assets/img/projects/fullsize/{{no}}.jpg">
                        <img class="img-fluid w-100 h-100" src="assets/img/projects/thumbnails/{{no}}.jpg" alt=""/>
                    </a>
                </div>
            {{/projects}}
            <div class="col-lg-4 col-sm-6">
                <a class="" href="#">
                    <div class="bg-secondary w-100 h-100 text-center d-flex justify-content-center align-items-center">
                        <p class="text-white text-uppercase">See More</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
