<!-- Projects-->
<section class="projects-section d-lg-flex align-items-center" id="projects">
    <div class="container my-5 py-5">
        <div class="row no-gutters">
            {{#projects}}
                <div class="col-lg-4 col-sm-6 my-3 my-md-0">
                    <button class="portfolio-box" id="open{{no}}">
                        <img class="img-fluid w-100 h-100" src="assets/img/projects/thumbnails/{{no}}.jpg" alt=""/>
                    </button>
                    <div class="modal hidden" id="project-modal{{no}}">
                        <div class="md_overlay"></div>
                        <div class="md_content">
                            <h1>샘플 모달창{{no}}</h1>
                            <div class="modal_text">
                                자바스크립트로 모달창을 만들어 봤습니다.
                            </div>
                            <button>X</button>
                        </div>
                    </div>
                </div>
            {{/projects}}
            <div class="col-lg-4 col-sm-6">
                <a class="" href="#">
                    <div class="bg-secondary w-100 h-100 text-center d-flex justify-content-center align-items-center">
                        <p class="text-white text-uppercase">See More</p>
                    </div>
                </a>
            </div>
        </div>
        <!--        <button id="open">모달창 열기</button>-->

    </div>
</section>
