<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/1.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/1.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/2.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/2.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/3.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/3.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/4.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/4.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/5.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/5.jpg" alt="" />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="assets/img/portfolio/fullsize/6.jpg">
                    <img class="img-fluid" src="assets/img/portfolio/thumbnails/6.jpg" alt="" />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash;-->
<!--&lt;!&ndash; Projects&ndash;&gt;-->
<!--<section class="projects-section bg-light" id="projects">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Featured Project Row&ndash;&gt;-->
<!--        <div class="row align-items-center no-gutters mb-4 mb-lg-5">-->
<!--            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt=""/>-->
<!--            </div>-->
<!--            <div class="col-xl-4 col-lg-5">-->
<!--                <div class="featured-text text-center text-lg-left">-->
<!--                    <h4>Shoreline</h4>-->
<!--                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it-->
<!--                        for any project - even commercial projects! Download it, customize it, and publish your-->
<!--                        website!</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Project One Row&ndash;&gt;-->
<!--        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">-->
<!--            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt=""/></div>-->
<!--            <div class="col-lg-6">-->
<!--                <div class="bg-black text-center h-100 project">-->
<!--                    <div class="d-flex h-100">-->
<!--                        <div class="project-text w-100 my-auto text-center text-lg-left">-->
<!--                            <h4 class="text-white">Misty</h4>-->
<!--                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or-->
<!--                                anything else, along with a description.</p>-->
<!--                            <hr class="d-none d-lg-block mb-0 ml-0"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; Project Two Row&ndash;&gt;-->
<!--        <div class="row justify-content-center no-gutters">-->
<!--            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt=""/></div>-->
<!--            <div class="col-lg-6 order-lg-first">-->
<!--                <div class="bg-black text-center h-100 project">-->
<!--                    <div class="d-flex h-100">-->
<!--                        <div class="project-text w-100 my-auto text-center text-lg-right">-->
<!--                            <h4 class="text-white">Mountains</h4>-->
<!--                            <p class="mb-0 text-white-50">Another example of a project with its respective description.-->
<!--                                These sections work well responsively as well, try this theme on a small screen!</p>-->
<!--                            <hr class="d-none d-lg-block mb-0 mr-0"/>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--&ndash;&gt;-->
