<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Resume</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Career</h3>
                <div class="resume-item pb-0">
                    <h4>SSG.COM</h4>
                    <h5>2019.03 - Present</h5>
                    <p><em>뭐라할까</em></p>
                    <ul>
                        <li>주문/클레임/제휴 백엔드 개발</li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>성균관대학교</h4>
                    <h5>2010.03 - 2018.08</h5>
                    <ul>
                        <li>경제학과 졸업</li>
                        <li>유학동양학 복수전공</li>
                        <li>4년 전액 장학금</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                {{#projects}}
                    <div class="resume-item">
                        <h4>{{name}}</h4>
                        <h5>{{startYearMonth.year}}.{{startYearMonth.month}} - {{#endYearMonth}}{{year}}.{{month}}{{/endYearMonth}}{{^endYearMonth}}Present{{/endYearMonth}}</h5>
                        <p><em>{{description}}</em></p>
                        <ul>
                            {{#details}}
                                <li>{{detail}}</li>
                            {{/details}}
                        </ul>
                    </div>
                {{/projects}}
            </div>
        </div>

    </div>
</section>