<div class="resume-item">
    <h4>{{name}}</h4>
    <h5>{{startYearMonth.month}} {{startYearMonth.year}} - {{#endYearMonth}}{{month}} {{year}}{{/endYearMonth}}{{^endYearMonth}}Present{{/endYearMonth}}</h5>
    <p><em>{{description}}</em></p>
    <ul>
        {{#details}}
            <li>{{detail}}</li>
        {{/details}}
    </ul>
    {{#url}}<p><i class="bi bi-chevron-right"></i><a href="{{.}}" target="_blank">{{.}}</a></p>{{/url}}
</div>