<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Skills</h2>
            <p>3: 메인 기술로 내부 원리까지 이해하고 활용하도록 학습 중</p>
            <p>2: 익숙하게 활용 가능</p>
            <p>1: 개발 활용 경험 있음</p>
        </div>

        <div class="row skills-content">

            {{#skills}}
            <div class="col-lg-2">
                    <div class="progress">
                        <span class="skill">{{name}}<i class="val">{{proficiency}}</i></span>
                    </div>
            </div>
            {{/skills}}

        </div>
    </div>
</section>