<section class="skills-section" id="skills">
    <div class="container">
        {{> modules/bumper}}
        <h2 class="text-white mb-3">Language</h2>
        <div class="row mb-5">
            {{#languages}}
                {{> modules/skill-card}}
            {{/languages}}
        </div>
        <h2 class="text-white mb-3">Framework</h2>
        <div class="row mb-5">
            {{#frameworks}}
                {{> modules/skill-card}}
            {{/frameworks}}
        </div>
    </div>
</section>


<!--
Language: Java, Python, JavaScript
Framework: Spring, Django, Vue.js
Database: Oracle, MySQL, InfluxDB
Tools: Git, Grafana, Linux
Design: Phtoshop, Illustartor, XD, Bootstrap

ADVANCED: ㅡㅡㅡ
INTERMEDIATE: ㅡㅡ
BEGINNER: ㅡ
-->