<div class="col-md-4 mb-3 mb-md-0">
    <div class="card py-4 h-100">
        <div class="card-body text-center">
            <i class="fas {{icon}} text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">{{type}}</h4>
            <hr class="my-4"/>
            <div class="small text-black-50">{{detail}}</div>
        </div>
    </div>
</div>