<div class="project-modal modal hidden" id="project-modal{{no}}">
    <div class="modal-dialog mx-5 mw-100">
        <div class="modal-content d-flex flex-column justify-content-center">
            <button onclick="closeModal({{no}})" class="btn btn-outline-dark btn-close-modal" type="button">
                <i class="fas fa-times"></i>
            </button>
            <div class="container mt-3 pt-5 my-md-5 py-md-5">
                <div class="row">
                    <div class="col-md-4 align-self-center">
                        <div class="modal-body">
                            <img class="img-fluid mx-auto" src="assets/img/projects/fullsize/{{id}}.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-8 align-self-center">
                        <div class="modal-body">
                            <h2 class="text-uppercase my-1">{{name}}</h2>
                            <p class="text-muted my-1">{{category}}</p>
                            <hr class="my-2">
                            <ul class="list-inline my-1">
                                {{#projectSkills}}
                                    <li class="list-inline-item m-0 mr-md-1"><img class="img-fluid" src="{{logo}}" alt="{{name}}"/></li>
                                {{/projectSkills}}
                            </ul>
                            <hr class="my-2">
                            <p class="my-1">{{description}}</p>
                            <ul class="list-inline">
                                <li>Date: Coming Soon</li>
                                <li>Client: {{client}}</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>