<div class="project-modal modal hidden" id="project-modal{{no}}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h2 class="text-uppercase">{{name}}</h2>
                            <p class="text-muted">{{category}}</p>
                            <img class="img-fluid d-block mx-auto" src="assets/img/projects/fullsize/{{no}}.jpg" alt=""/>
                            <p>{{description}}</p>
                            <ul class="list-inline">
                                <li>Date: January 2020</li>
                                <li>Client: {{client}}</li>
                            </ul>
                            <button onclick="closeModal({{no}})" class="btn btn-primary" type="button">
                                <i class="fas fa-times mr-1"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>