<div class="modal hidden" id="project-modal{{no}}">
    <div class="md_overlay"></div>
    <div class="md_content">
        <h1>프로젝트{{no}}</h1>
        <div class="modal_text">
            프로젝트 {{no}}에 대한 설명
        </div>
        <button onclick="closeModal({{no}})">X</button>
    </div>
</div>