<script src="js/scripts.js"></script>


<!-- docSlider JS-->
<script src="js/docSlider.min.js"></script>
<script>docSlider.init({
    speed: 1000,
    easing: 'ease-in',
    pager: false
});</script>


<!-- Typed.js-->
<script src="js/typed.min.js"></script>
<script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 100,
        fadeOut: true,
        showCursor: false,
        // cursorChar: '_'
        // backSpeed: 100,
    });

    var typed2 = new Typed('#typed2', {
        stringsElement: '#typed-strings2',
        typeSpeed: 70,
        startDelay: 1500,
        showCursor: false
        // cursorChar: '_'
        // backSpeed: 100,
    });
</script>